jenkins_cicd/src/main/mule/jenkins_cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3bae65f8-7f96-4b00-a315-656d2ca0b264" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins_cicdFlow" doc:id="5245c3f8-8c6a-47dd-b394-16153b6d4007" >
		<http:listener doc:name="Listener" doc:id="ffdf035a-7265-4abc-99b8-6762a06dbef7" config-ref="HTTP_Listener_config" path="/ci"/>
		<set-payload value="#['Successfully Updated Nahom ']" doc:name="Set Payload" doc:id="edd40318-352f-45ee-af26-195d78ceacf7" />
	</flow>
</mule>
